
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="/Member/Save" method="post">
    <label>Name</label><br />
    <input type="text" id="name" name="Name" placeholder="Nhập họ và tên..."><br />
    <label>Age</label><br />
    <input type="text" id="age" name="age" placeholder="Nhập số tuổi..."><br /><br />
    <button type="submit" value="Đăng ký">Đăng nhập</button>
</form>

